{% extends 'base.html.twig' %}

{% block title %}Edit NftPrice{% endblock %}

{% block body %}
    <h1>Edit NftPrice</h1>

    {{ include('nft_price/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_nft_price_index') }}">back to list</a>

    {{ include('nft_price/_delete_form.html.twig') }}
{% endblock %}
