{% extends 'base.html.twig' %}

{% block title %}New NftPrice{% endblock %}

{% block body %}
    <h1>Create new NftPrice</h1>

    {{ include('nft_price/_form.html.twig') }}

    <a href="{{ path('app_nft_price_index') }}">back to list</a>
{% endblock %}
