{% extends 'base.html.twig' %}

{% block title %}Edit Nft{% endblock %}

{% block body %}
    <h1>Edit Nft</h1>

    {{ include('nft/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_nft_index') }}">back to list</a>

    {{ include('nft/_delete_form.html.twig') }}
{% endblock %}
