{% extends 'base.html.twig' %}

{% block title %}New Nft{% endblock %}

{% block body %}
    <h1>Create new Nft</h1>

    {{ include('nft/_form.html.twig') }}

    <a href="{{ path('app_nft_index') }}">back to list</a>
{% endblock %}
